body{
    background-color: rgba(252, 242, 229, 0.178);
}

.navbar-brand img{
    width: 20%;
    }
    
.navbar{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
}

.navbar-link{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-end;
}

.navbar-brand a {
    color:rgba(252, 242, 229, 0.178);
}

